body{
    background-color: rgb(246, 248, 248);
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.row{
    display: flex;
    justify-content: space-between;
}

.row-item{
    width: 48%;
}

form{
    box-shadow: 5px 5px 15px rgba(89, 83, 83, 0.54), -5px -5px 15px rgba(89, 83, 83, 0.54);
    border-radius: 20px;
    padding: 20px 20px;
    background-color: rgb(109, 157, 234);
}

.form-group{
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-group + .form-group{
    padding-top: 15px;
}

label{
    margin-bottom: 8px;
}

#comment-name{
    width: 150px;
}

#comment-body{
    width: 100%;
    height: 100px;
    resize: none;
}

.comment{
    display: flex;
    flex-direction: column;
    background-color: rgb(109, 157, 234);
    row-gap: 10px;
    box-shadow: 4px 4px 10px rgba(89, 83, 83, 0.54), -4px -4px 10px rgba(89, 83, 83, 0.54);
    border-radius: 20px;
    padding: 8px 20px;
}

.comment + .comment{
    margin-top: 20px;
}

.comment-head{
    display: flex;
    justify-content: space-between;
}

p{
    padding: 0px;
    margin: 0px;
}